body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

.container {
	max-width: 1190px;
	padding: 0 10px;
	margin: 0 auto;
}

.title {
	display: inline-block;
	position: relative;
	font-size: 48px;
	font-weight: 700;
	line-height: 62.4px;
	color: inherit;
	margin-bottom: 60px;
}

.title::after {
	content: '';
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: rgba(234, 238, 251);
	z-index: -1;
}

.subtitle {
	font-size: 24px;
	font-weight: 600;
	line-height: 38.4px;
	color: inherit;
}

.header {
	background: linear-gradient(rgba(35, 82, 222, 0.5), rgba(35, 82, 222, 0.5)),
		url('../images/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: #ffffff;
	margin-bottom: 140px;
}

.header__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 75px;
}

.header__menu {
	display: flex;
	gap: 35px;
}

.menu__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 23.4px;
	color: inherit;
}

.content__title {
	font-size: 48px;
	font-weight: 400;
}

.title__span {
	font-size: 90px;
	font-weight: 700;
}

.scroll-prompt {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 30px;
}

.scroll-prompt__text {
	font-size: 18px;
	font-weight: 600;
	line-height: 23.4px;
	padding-bottom: 10px;
}

.scroll-prompt__arrow {
	max-height: 23px;
}

.about {
	margin-bottom: 140px;
}

.about__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	margin-bottom: 25px;
}

.skills {
	position: relative;
	padding: 140px 0;
}

.skills::after {
	content: '';
	position: absolute;
	background-color: #f6f6f8;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.skills__content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__list {
	display: flex;
	flex-direction: column;
	gap: 86px;
}

.skills__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__label {
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
	padding-right: 14px;
}

.skills__bar {
	width: 600px;
	height: 32px;
	background-color: #dbdbed;
}

.skills__progress-html {
	width: 510px;
	height: 32px;
	background-color: #2352de;
}

.skills__progress-css {
	width: 480px;
	height: 32px;
	background-color: #2352de;
}

.skills__progress-js {
	width: 366px;
	height: 32px;
	background-color: #2352de;
}

.services {
	padding: 140px 0;
}

.services__list {
	display: flex;
	justify-content: space-between;
}

.services__item {
	max-width: 330px;
}

.services__images {
	margin-bottom: 30px;
}

.services__subtitle {
	margin-bottom: 25px;
}

.services__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
}

.works {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 140px;
}

.works__list_wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.works__list {
	display: flex;
	gap: 35px;
}

.works__link {
	color: inherit;
	font-size: 24px;
	font-weight: 600;
	line-height: 38.4px;
}

.works__link:hover {
	color: #2352de;
}

.works__images {
	display: flex;
	flex-wrap: wrap;
	gap: 45px;
	margin-bottom: 60px;
}

.works__img-wrap {
	max-width: 360px;
}

.works__button {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 23.4px;
	background-color: #2352de;
	padding: 12px 24px;
	margin: 0 auto;
}
