body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	background-color: #ffffff;
}

body.lock {
	overflow-y: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	padding: 140px 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.logo {
	display: block;
	width: 158px;
	height: 52px;
	transition: box-shadow 0.3s, opacity 0.3s;
}

.logo:focus {
	box-shadow: 0 0 0 3px #2352de;
}

.logo:hover {
	opacity: 0.7;
}

.logo:active {
	opacity: 0.5;
}

.title {
	display: inline-block;
	position: relative;
	font-size: clamp(1.75rem, 0.596rem + 3.21vw, 3rem);
	font-weight: 700;
	line-height: 1.4;
	color: inherit;
	margin-bottom: 60px;
}

.title::after {
	content: '';
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: rgba(234, 238, 251);
	z-index: -1;
}

.link {
	border-radius: 3px;
	text-decoration-skip-ink: none;
	text-decoration: underline transparent;
	transition: box-shadow 0.3s, text-decoration 0.3s, opacity 0.3s;
}

.link:focus {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.link:hover {
	text-decoration: underline;
}

.link:active {
	opacity: 0.7;
}

.btn-primary {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
	background-color: #2352de;
	transition: box-shadow 0.3s, color 0.3s, border 0.3s, background-color 0.3s;
	border: 1px solid transparent;
	padding: 12px 24px;
}

.btn-primary:focus {
	box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.btn-primary:hover {
	color: #2352de;
	border: 1px solid #2352de;
	background-color: #fff;
}

.btn-primary:active {
	color: #ffffff;
	background-color: #2352de;
	box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.title-page {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: #ffffff;
	z-index: 1;
}

.title-page::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(35, 82, 222, 0.5);
	z-index: -1;
}

.title-page__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 70px);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 75px;
}

.menu__button {
	display: none;
	width: 30px;
	height: 20px;
	position: relative;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
}

.menu__button span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #ffffff;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.menu__button span:nth-child(1) {
	top: 0px;
}

.menu__button span:nth-child(2) {
	top: 10px;
}

.menu__button span:nth-child(3) {
	top: 20px;
}

.menu__button.open span:nth-child(1) {
	top: 10px;
	transform: rotate(135deg);
}

.menu__button.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.menu__button.open span:nth-child(3) {
	top: 10px;
	transform: rotate(-135deg);
}

.menu {
	display: flex;
	gap: 35px;
}

.menu__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
}

.title-page__content {
	max-width: 60%;
}

.title-page__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 130px);
	font-size: clamp(1.75rem, 0.596rem + 3.21vw, 3rem);
	font-weight: 400;
	line-height: 1.3;
}

.title-page__heading {
	display: block;
	font-size: clamp(2.5rem, -0.385rem + 8.01vw, 5.625rem);
	font-style: normal;
	font-weight: 700;
	line-height: 1.3;
	margin-top: 12px;
}

.title-page__scroll {
	position: absolute;
	bottom: 31px;
	left: 50%;
	transform: translateX(-50%);
	font-size: clamp(0.875rem, 0.644rem + 0.64vw, 1.125rem);
	font-weight: 600;
	line-height: 1.3;
	padding-bottom: 32px;
}

.title-page__scroll::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 37px;
	height: 23px;
	background: url('../images/arrow-down.svg') no-repeat center center;
	background-size: cover;
}

.about__text {
	font-size: clamp(0.875rem, 0.644rem + 0.64vw, 1.125rem);
	font-weight: 400;
	line-height: 1.6;
}

.about__text p:not(:last-child) {
	margin-bottom: 25px;
}

.skills {
	position: relative;
	background-color: #f6f6f8;
	z-index: 0;
}

.skills__content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__avatar {
	margin-right: 20px;
}

.skills__info {
	max-width: 665px;
	width: 100%;
}

.skills__item:not(:last-child) {
	margin-bottom: 86px;
}

.skills__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__label {
	width: 64px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

.skills__bar {
	display: flex;
	max-width: 600px;
	width: 100%;
	height: 32px;
	background-color: #dbdbed;
	margin-left: 15px;
}

.skills__bar-progress {
	height: 32px;
	background-color: #2352de;
}

.services__list {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.services__item {
	position: relative;
	max-width: 330px;
	width: 100%;
	padding-top: 90px;
}

.services__item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 60px;
	height: 60px;
}

.services__item--code::after {
	background-image: url('../images/code-icon.svg');
}

.services__item--chat::after {
	background-image: url('../images/chat-icon.svg');
}

.services__item--dev::after {
	background-image: url('../images/dev-icon.svg');
}

.services__subtitle {
	font-size: clamp(1.25rem, 0.788rem + 1.28vw, 1.75rem);
	font-weight: 600;
	line-height: 1.3;
}

.works {
	text-align: center;
	padding-bottom: 140px;
}

.works__list {
	display: flex;
	justify-content: center;
	gap: 36px;
	margin-bottom: 60px;
}

.works__item {
	appearance: none;
	padding: 0;
	font-size: clamp(1.125rem, 0.779rem + 0.96vw, 1.5rem);
	font-weight: 600;
	line-height: 1.6;
	text-decoration: underline transparent;
	background: transparent;
	transition: box-shadow 0.3s, text-decoration 0.3s, color 0.3s;
	border: none;
	border-radius: 3px;
}

.mixitup-control-active {
	color: #2352de;
}

.works__item:focus {
	box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.works__item:hover {
	color: #2352de;
	text-decoration: underline;
}

.works__images {
	column-count: 3;
	column-gap: 45px;
	margin-bottom: 60px;
}

.works__img-wrap {
	max-width: 360px;
	width: 100%;
	aspect-ratio: auto;
	margin-bottom: 45px;
}

.reviews {
	position: relative;
	z-index: 0;
	text-align: center;
	background-color: #f6f6f8;
}

.reviews__wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}

.reviews__content {
	max-width: 400px;
	width: 100%;
}

.reviews__userpic-container {
	display: block;
	position: relative;
	width: 130px;
	height: 167px;
	margin: 0 auto;
}

.reviews__userpic {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.reviews__video-mobile {
	display: none;
	position: absolute;
	z-index: 3;
	width: 60px;
	height: 60px;
	top: 90px;
	left: 94px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.reviews__video-mobile::after {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background-color 0.3s, box-shadow 0.3s;
	border-radius: 50%;
}

.reviews__video-mobile:hover::after {
	background-color: rgba(0, 0, 0, 0.6);
}

.reviews__video-mobile:focus::after {
	box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video-mobile:active::after {
	background-color: rgba(0, 0, 0, 0.45);
}

.reviews__video-mobile::before {
	content: '';
	position: absolute;
	background-image: url(../images/mobile-play.svg);
	width: 17px;
	height: 20px;
	top: 51%;
	transform: translate(-40%, -56%);
	transform: scale();
	z-index: 1;
	transition: transform 0.3s;
}

.reviews__video-mobile:hover::before {
	transform: translate(-50%, -50%) scale(1.5);
}

.reviews__video-mobile:active::before {
	transform: translate(-50%, -50%) scale(0.6);
}

.reviews__subtitle {
	color: #2352de;
	font-size: clamp(1.25rem, 1.019rem + 0.64vw, 1.5rem);
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 20px;
}

.reviews__text {
	font-size: clamp(1rem, 0.538rem + 1.28vw, 1.5rem);
	font-style: italic;
	font-weight: 300;
	line-height: 1.3;
}

.reviews__video {
	position: relative;
	width: 570px;
	height: 400px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.reviews__video::after {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.reviews__video:hover::after {
	background-color: rgba(0, 0, 0, 0.6);
}

.reviews__video:focus::after {
	box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video:active::after {
	background-color: rgba(0, 0, 0, 0.45);
}

.reviews__video::before {
	content: '';
	position: absolute;
	background-image: url(../images/play.svg);
	width: 85px;
	height: 100px;
	top: 50%;
	transform: translate(-50%, -50%);
	transform: scale();
	z-index: 1;
	transition: transform 0.3s;
}

.reviews__video:hover::before {
	transform: translate(-50%, -50%) scale(1.5);
}

.reviews__video:active::before {
	transform: translate(-50%, -50%) scale(0.6);
}

.metrics__wrapper {
	display: flex;
	gap: 17px;
}

.metrics__item {
	flex: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	max-width: 280px;
	background-color: #f6f6f8;
	position: relative;
	padding: 150px 0 50px 0;
	border: 1px solid #dbdbed;
}

.metrics__item::after {
	content: '';
	position: absolute;
	top: 50px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}

.metrics__item--works::after {
	background-image: url(../images/works.svg);
	width: 97px;
	height: 80px;
}

.metrics__item--clients::after {
	background-image: url(../images/clients.svg);
	width: 92px;
	height: 80px;
}

.metrics__item--coffee::after {
	background-image: url(../images/coffee.svg);
	width: 80px;
	height: 80px;
}

.metrics__item--review::after {
	background-image: url(../images/review.svg);
	width: 80px;
	height: 80px;
}

.metrics__text {
	font-size: clamp(0.875rem, 0.644rem + 0.64vw, 1.125rem);
	font-weight: 400;
	line-height: 1.3;
}

.metrics__amount {
	font-size: clamp(1.875rem, 1.067rem + 2.24vw, 2.75rem);
	font-weight: 600;
	line-height: 1;
}

.contacts {
	padding-bottom: 258px;
}

.contacts__title {
	margin-bottom: 56px;
}

.contacts__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.contacts__content {
	max-width: 530px;
}

.contacts__info {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 30px;
}

.contacts__info-items {
	margin-bottom: 20px;
}

.contacts__item:not(:last-child) {
	margin-bottom: 15px;
}

.contacts__link {
	color: #2352de;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

.social__list {
	display: flex;
	gap: 20px;
}

.social__link {
	display: block;
	width: 44px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: box-shadow 0.3s, opacity 0.3s, filter 0.3s;
}

.social__link:focus {
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.social__link:hover {
	opacity: 0.7;
}

.social__link:active {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
	box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.contacts__form {
	width: 100%;
	max-width: 540px;
}

.contacts__input-group {
	display: flex;
	gap: 30px;
	margin-bottom: 26px;
}

.contacts__group {
	width: 100%;
}

.contacts__label {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.3;
}

.contacts__input {
	width: 100%;
	padding: 13px 15px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.3;
	font-weight: 400;
	background-color: #f6f6f8;
	border: none;
	transition: box-shadow 0.3s, color 0.3s;
}

.contacts__input:focus {
	box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.contacts__input::placeholder {
	color: #999;
}

.contacts__input:hover::placeholder {
	color: #000;
}

.contacts__input-textarea {
	height: 115px;
	resize: none;
	margin-bottom: 22px;
}

.contacts__label {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.3;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: #343740;
	padding: 50px 0;
}

@media (max-width: 1200px) {
	.section {
		padding: 80px 0;
	}

	.title {
		margin-bottom: 45px;
	}

	.works__item {
		gap: 40px;
	}

	.skills__avatar {
		width: 45%;
	}
}

@media (max-width: 992px) {
	.section {
		padding: 70px 0;
	}

	.title {
		margin-bottom: 40px;
	}

	.menu {
		gap: 25px;
	}

	.menu__link {
		font-size: 16px;
	}

	.skills__avatar {
		width: 40%;
	}

	.works__list {
		margin-bottom: 40px;
	}

	.works__images {
		column-gap: 30px;
		margin-bottom: 40px;
	}

	.works__img-wrap {
		margin-bottom: 30px;
	}

	.works__img-wrap:nth-child(2),
	.works__img-wrap:nth-child(4),
	.works__img-wrap:nth-child(6) {
		margin: 0;
	}

	.works {
		padding-bottom: 70px;
	}

	.reviews__content {
		max-width: 350px;
	}

	.metrics__item {
		padding: 125px 0 30px 0;
	}

	.metrics__item::after {
		top: 31px;
	}

	.services {
		text-align: center;
	}

	.services__list {
		display: flex;
		gap: 40px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.services__item::after {
		left: 50%;
		transform: translateX(-50%);
	}

	.contacts {
		padding-bottom: 70px;
	}

	.contacts__content {
		max-width: 430px;
	}

	.contacts__input-group {
		display: block;
	}
}

@media (max-width: 768px) {
	.section {
		padding: 60px 0;
	}

	.title {
		margin-bottom: 35px;
	}

	.header {
		padding-top: 15px;
	}

	.header__logo {
		position: relative;
		z-index: 2;
	}

	.menu__button {
		display: block;
		position: relative;
		z-index: 2;
	}

	.menu {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		height: 100vh;
		overflow-y: auto;
		background-color: #7792e0;
		display: block;
		text-align: center;
		padding: 15px 0;
		transform: translateY(-100%);
		transition: transform 0.5s;
		padding-top: 80px;
	}

	.header.header--active .menu {
		transform: translateY(0%);
	}

	.menu__link {
		display: block;
		background-color: transparent;
		font-size: 18px;
		padding: 11px 0;
	}

	.menu__item:active {
		background-color: #2352de;
	}

	.link {
		text-decoration-skip-ink: none;
		text-decoration: underline transparent;
		transition: background-color 0.3s;
		border-radius: 3px;
	}

	.link:focus {
		box-shadow: transparent;
	}

	.link:hover {
		text-decoration: transparent;
	}

	.link:active {
		background-color: #2352de;
		opacity: 0;
	}

	.title-page__title {
		height: calc(100vh - 67px);
	}

	.about {
		text-align: center;
	}

	.about__text {
		text-align: start;
	}

	.services__list {
		align-content: center;
	}

	.skills__avatar {
		width: 35%;
	}

	.skills__item:not(:last-child) {
		margin-bottom: 50px;
	}

	.reviews__wrapper {
		flex-direction: column;
	}

	.reviews__video {
		max-width: 570px;
		width: 100%;
	}

	.works__list {
		margin-bottom: 30px;
	}

	.works__images {
		column-gap: 20px;
		margin-bottom: 40px;
	}

	.works__img-wrap {
		margin-bottom: 20px;
	}

	.works {
		padding-bottom: 40px;
	}

	.metrics__wrapper {
		display: block;
		column-count: 2;
		column-gap: 15px;
	}

	.metrics__item {
		max-width: 100%;
		padding: 150px 0 25px 0;
	}

	.metrics__item::after {
		top: 50px;
	}

	.metrics__item:nth-child(1),
	.metrics__item:nth-child(3) {
		margin-bottom: 15px;
	}

	.contacts {
		padding-bottom: 50px;
	}

	.contacts__wrapper {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.contacts__form {
		max-width: 100%;
	}

	.contacts__input-group {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 26px;
	}

	.contacts__input-textarea {
		margin-bottom: 15px;
	}
}

@media (max-width: 576px) {
	.section {
		padding: 50px 0;
	}

	.title {
		margin-bottom: 30px;
	}

	.header__logo {
		width: 110px;
		height: 36px;
	}

	.title-page__content {
		max-width: 80%;
	}

	.skills {
		text-align: center;
	}

	.skills__content-wrapper {
		display: flex;
		flex-direction: column;
	}

	.skills__avatar {
		width: 300px;
		height: 325px;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.skills__item {
		display: flex;
		flex-direction: column;
	}

	.skills__item:not(:last-child) {
		margin-bottom: 24px;
	}

	.skills__label {
		margin-bottom: 5px;
	}

	.skills__bar {
		max-width: 300px;
		width: 100%;
		margin-left: 0;
	}

	.services {
		text-align: start;
	}

	.services__item::after {
		left: 0;
		transform: translateX(0);
	}

	.services__list {
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 30px;
	}

	.services__item {
		max-width: 100%;
	}

	.works__list {
		flex-direction: column;
		gap: 15px;
		margin-bottom: 30px;
	}

	.works__images {
		column-count: 2;
		column-gap: 15px;
		margin-bottom: 30px;
	}

	.works__img-wrap {
		margin-bottom: 15px;
	}

	.works__img-wrap:nth-child(1),
	.works__img-wrap:nth-child(2),
	.works__img-wrap:nth-child(4),
	.works__img-wrap:nth-child(5) {
		margin-bottom: 15px;
	}

	.metrics__item:nth-child(3),
	.metrics__item:nth-child(6) {
		margin: 0;
	}

	.works {
		padding-bottom: 50px;
	}

	.reviews__video {
		display: none;
	}

	.reviews__video-mobile {
		display: block;
	}

	.metrics__wrapper {
		display: block;
		column-count: 2;
		column-gap: 15px;
	}

	.metrics__item {
		padding: 69px 0 25px 0;
	}

	.metrics__item::after {
		top: 25px;
	}

	.metrics__item--works::after {
		background-image: url(../images/works.svg);
		width: 42.277px;
		height: 35px;
	}

	.metrics__item--clients::after {
		background-image: url(../images/clients.svg);
		width: 40px;
		height: 35.03px;
	}

	.metrics__item--coffee::after {
		background-image: url(../images/coffee.svg);
		width: 34.656px;
		height: 35px;
	}

	.metrics__item--review::after {
		background-image: url(../images/review.svg);
		width: 34.951px;
		height: 35px;
	}

	.metrics__item:nth-child(1),
	.metrics__item:nth-child(3) {
		margin-bottom: 15px;
	}

	.contacts {
		text-align: center;
		padding-bottom: 50px;
	}

	.contacts__wrapper {
		display: flex;
		flex-direction: column;
		text-align: start;
		gap: 32px;
	}

	.contacts__input-group {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 26px;
	}

	.contacts__input-textarea {
		margin-bottom: 15px;
	}

	.footer {
		padding: 32px 0;
	}
}

@media (max-width: 432px) {
	.title-page__content {
		max-width: 100%;
	}
}
